<!DOCTYPE html>
<html>
	<head lang="en">
        <meta name="viewport" content="width=device-width, initial-scale=1">

		<meta charset="utf-8" />
		<title>修改密码</title>
		<link rel="stylesheet" type="text/css" href="/static/css/public.css"/>
		<link rel="stylesheet" type="text/css" href="/static/css/mygrxx.css" />
	</head>
	<body>
    <style>
        form.remima p input[type=password]{
	display: inline-block;
	width: 240px;
	height: 30px;
	line-height: 30px;
	border: 1px solid #E0E0E0;
	text-indent: 10px;
}

        #box{
			width:300px;
			height:210px;
			background: white;
			position:absolute;
			left:56%;
			top:45%;
			margin-left: -150px;
			margin-top: -150px;
            border: 1px solid #A10000;
		}
		button{
			display: inline-block;
			width: 90px;
			height: 36px;
			line-height: 36px;
			text-align: center;
			background: #fff;
			border: 1px solid #e6e6e6;
			margin-left: 38px;
		}
		/* 隐藏弹窗的类名 */
		.hide{
			display: none;
		}
		div .b2{
				margin-top: 60px;
				background: #A10000;color: #FFFFFF;
		}
		#sp{
			font-family:inherit;
			margin: auto;
			margin-left: 78px;
		}

    </style>
		<!------------------------------head------------------------------>

		<!------------------------------idea------------------------------>
		<div class="address mt" id="add" >
			<div class="wrapper clearfix" style="margin-top: -80px">
				<a href="../../" class="fl">首页</a>
				<span>/</span>
				<a href="#" class="on">账号管理</a>
			</div>
		</div>


        <div class="hide" id="box">

			<div style="margin-top: 50px">
				<span  id="sp">确定要退出登录吗</span>
			</div>



			<a href="../quit/"><button id="save" class="b2">确定</button></a>
			<button id="cancel" class="b1">关闭</button>
		</div>
		
		<!------------------------------Bott------------------------------>
		<div class="Bott">
			<div class="wrapper clearfix">
				<div class="zuo fl">
					<h3>
                        {% if uer_obj.avatar %}
                            <a href="/static/media/{{ uer_obj.avatar }}"><img style="height: 92px;width: 92px;border-radius: 50%;border:2px solid #b0b0b0;" src="/static/media/{{ uer_obj.avatar }}"/></a>

                        {% else %}
                            <a href="/static/media/1.jpg"><img style="height: 92px;width: 92px;border-radius: 50%;border:2px solid #b0b0b0;" src="/static/media/1.jpg"/></a>

                        {% endif %}
						<p class="clearfix"><span class="fl">[{{ uer_obj.nickname }}]</span><span class="fr" id="show">[退出登录]</span></p>
					</h3>
					<div>
						<h4>博文管理</h4>
						<ul style="margin-top: -6px">
							<li style="margin-top: -6px " ><a href="../">我的中心</a></li>
							<li style="margin-top: -6px" ><a href="../post_article/">发布文章</a></li>
							<li style="margin-top: -6px"><a href="../post_alter/">修改文章</a></li>
                            <li style="margin-top: -6px"><a href="../delete_article/">删除文章</a></li>
						</ul>
						<h4>账号管理</h4>
						<ul style="margin-top: -6px">
							<li style="margin-top: -6px" ><a href="../account_information/">账号信息</a></li>
							<li style="margin-top: -6px" class="on"><a href="#">更改密码</a></li>
                            <li style="margin-top: -6px"><a href="../logout/">账号注销</a></li>
						</ul>
					</div>
				</div>
				<div class="you fl">
					<h2>修改密码</h2>
					<form action="" method="post" class="remima" id="myForm">
						<p><span>选择验证身份方式：</span>
                            <input type="radio" checked name="verification" value="password" />密码验证
                            <a href="../../../forget_password"><input type="radio" name="verification" value="email" />邮箱验证</a>
                        </p>
						<p><span>原密码：</span><input  type="password" name="old_password" id="old" /></p>
						<p class="op">输入原密码</p>
						<p><span>新密码：</span><input type="password" name="new_password" id="new_pass" /></p>
						<p class="op">6-16 个字符，需使用字母、数字或符号组合，不能使用纯数字、纯字母、纯符号</p>
						<p><span>重复新密码：</span><input type="password" name="agin_password" id="agin_pass" /></p>
						<p class="op">请再次输入密码</p>
{#						<p><span>验证码：</span><input type="text" /><img src="/static/img/temp/code.jpg" alt="" /></p>#}
{#						<p class="op">按右图输入验证码，不区分大小写</p>#}
						<input type="submit" value="提交" id="ff" />
					</form>
				</div>
			</div>
		</div>
		
		<!--返回顶部-->
		<div class="gotop">

		</div>
		<!--footer-->
		<div class="footer">
			<div class="top">

			</div>
			<p class="dibu">个人博客&copy;2019-2020<br />
			本网站所列数据，除特殊说明，所有数据均出自个人测试</p>
		</div>
		<script src="/static/js/jquery-1.12.4.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="/static/js/public.js" type="text/javascript" charset="utf-8"></script>
		<script src="/static/js/user.js" type="text/javascript" charset="utf-8"></script>
	</body>


<script >
		var box = document.getElementById("box")
		// 点击出现弹窗
		var show = document.getElementById("show")
		show.onclick = function() {
			// 删除类名 .hide  显示弹窗
			box.classList.remove("hide")

		}

		// 点击关闭
		var cancel = document.getElementById("cancel")
		cancel.onclick = function () {
			// 添加类名 .hide 关闭弹窗
			box.classList.add("hide")

			var yans =document.getElementById('yanse')
			yans.style.background="rgb(255,255,255)";
		}

		// 点击确定
		var save = document.getElementById("save")
		save.onclick = function () {
			// 这里执行你的 确定后的操作
			box.classList.add("hide")
			var yans =document.getElementById('yanse')
			yans.style.background="rgb(255,255,255)";

		}
	</script>
</html>
