<!DOCTYPE html>
<html>
	<head lang="en">
		<meta charset="utf-8" />
		<title>forget</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" type="text/css" href="/static/css/public.css"/>
		<link rel="stylesheet" type="text/css" href="/static/css/proList.css" />
		<link rel="stylesheet" type="text/css" href="/static/css/forget.css" />
	</head>
	<body>
		<!----------------------------------------order------------------>
		<div class="order cart">
			<!-----------------logo------------------->
			<div class="logo">
				<h1 class="wrapper clearfix">
					<a href="index.html"><img src="/static/images/湖南科技.png" height="50" width="50"  ></a>
				</h1>
			</div>
			<div class="forCon" style="margin-top: 40px">
				<p>安全设置-找回密码</p>
				<ul>
					<li class="on"><span>01/</span>输入登录名</li>
					<li><span>02/</span>验证信息</li>
					<li><span>03/</span>重置密码</li>
				</ul>
				<div class="formCon">
					<!--步骤1-->
					<form action="#" method="post" class="one" id="one">
						<input type="text" id="id" placeholder="账号名"><label>请输入账号名</label><br />
						<input type="text" id="email" placeholder="邮箱"><label>请输入绑定邮箱账号</label><br />
						<br>
						<input style="background: #c10000" type="button" value="下一步" class="next">
					</form>
					<!--步骤2-->
					<form action="#" method="post" class="two"   id="two">
                        <input type="text" id="email_code" value="" placeholder="验证码"><label>请输入邮箱验证码</label><br /><br>
						<p class="tip">我们已经往您的电子邮箱发送了4位数的验证码，请查看</p>
						<input type="button" value="验证" class="next1">
					</form>
					<!--步骤3-->
					<form action="" method="post" class="three" id="three" >
						<label style="margin-left: 130px"></label><input type="text" id="password1" value="" ><span style="margin-left: 20px">密码</span><br />
						<label style="margin-left: 130px"></label><input type="text" id="password2" value="" ><span style="margin-left: 20px">确认密码</span><br />
						<input style="margin-left: 203px" class="next2" type="button" value="完成" >
					</form>
				</div>
			</div>
		</div>
		
		<script  src="/static/js/jquery-1.12.4.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="/static/js/public.js" type="text/javascript" charset="utf-8"></script>
		<script src="/static/js/pro.js" type="text/javascript" charset="utf-8"></script>

        <script>

            var one = document.getElementById("one")
            var two = document.getElementById("two")
            var three = document.getElementById("three")

//ajax发送账号，email
$(function(){
    $(".next").click(function(){
        var zambia = $(this);
        var id = document.getElementById("id")
        var email = document.getElementById("email")

        $.ajax({
            type:"POST",
            url:"/forget_password_one",
            data:{
                id:id.value,
                email:email.value,
            },

            cache:false, //不缓存此页面
            success:function(data){
                if (data==-1){
                    alert("输入的密码和email不匹配")
                }
                if (data==0){
                    alert("用户不存在")
                }
                if (data==2){
                    alert("发送邮件失败")
                }
                if (data==1){
                    alert("验证成功")
                }

                }

        });
        return false;
    });
})

//ajax发送验证码
$(function(){
    $(".next1").click(function(){
        var zambia = $(this);
        var id = document.getElementById("id")
        var email_code = document.getElementById("email_code")
        alert()
        $.ajax({
            type:"POST",
            url:"/forget_password_two",
            data:{
                email:email_code.value,
            },

            cache:false, //不缓存此页面
            success:function(data){
                if (data==-1){
                    alert("验证码错误")
                }
                if (data==1){
                    alert("验证成功")
                        one.style.display="none";
            		    two.style.display="none";
            		    three.style.display="inline";
                }


                }

        });
        return false;
    });
})

//ajax更改密码
$(function(){
    $(".next2").click(function(){
        var zambia = $(this);
        var password1 = document.getElementById("password1")
        var password2 = document.getElementById("password2")

        $.ajax({
            type:"POST",
            url:"/forget_password_three",
            data:{
                password1:password1.value,
                password2:password2.value,
            },

            cache:false, //不缓存此页面
            success:function(data){
                if (data==-1){
                    alert("密码更改失败")
                }
                if (data==1){
                    alert("密码更改成功")

                }


                }

        });
        return false;
    });
})



        </script>

    </body>
</html>
