<!doctype html>
<html lang="en">
<html>
	<head lang="en">
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
		<title>发布文章</title>
		<link rel="stylesheet" type="text/css" href="/static/css/public.css"/>
		<link rel="stylesheet" type="text/css" href="/static/css/mygxin.css" />

        <link rel="stylesheet" type="text/css" href="/static/ueditor/third-party/SyntaxHighlighter/shCoreDefault.css">
        <script type="text/javascript" src="/static/ueditor/third-party/SyntaxHighlighter/shCore.js"></script>
        <script type="text/javascript" src="/static/ueditor/ueditor.config.js"></script>
        <script type="text/javascript" src="/static/ueditor/ueditor.all.min.js"></script>
        <script type="text/javascript" src="/static/ueditor/lang/zh-cn/zh-cn.js"></script>


    </head>
    <style>
		#box{
			width:300px;
			height:210px;
			background: white;
			position:absolute;
			left:56%;
			top:45%;
			margin-left: -150px;
			margin-top: -150px;
            border: 1px solid #A10000;
		}
		button{
			display: inline-block;
			width: 90px;
			height: 36px;
			line-height: 36px;
			text-align: center;
			background: #fff;
			border: 1px solid #e6e6e6;
			margin-left: 38px;
		}
		/* 隐藏弹窗的类名 */
		.hide{
			display: none;
		}
		div .b2{
				margin-top: 60px;
				background: #A10000;color: #FFFFFF;
		}
		#sp{
			font-family:inherit;
			margin: auto;
			margin-left: 78px;
		}

	</style>
	<body>
		<!------------------------------head------------------------------>

		<!------------------------------idea------------------------------>
		<div class="address mt" id="add" >
			<div class="wrapper clearfix" style="margin-top: -80px">
				<a href="../../" class="fl">首页</a>
				<span>/</span>
				<a href="#" class="on">个人中心</a>
			</div>
		</div>
		
		<!-- 通过添加和删除 .hide类名  实验弹窗的显示和隐藏 -->
		<div class="hide" id="box">

			<div style="margin-top: 50px">
				<span  id="sp">确定要退出登录吗</span>
			</div>



			<a href="../quit/"><button id="save" class="b2">确定</button></a>
			<button id="cancel" class="b1">关闭</button>
		</div>

        <div class="Bott">
			<div class="wrapper clearfix">
				<div class="zuo fl">
					<h3>
                        {% if uer_obj.avatar %}
                            <a href="/static/media/{{ uer_obj.avatar }}"><img style="height: 92px;width: 92px;border-radius: 50%;border:2px solid #b0b0b0;" src="/static/media/{{ uer_obj.avatar }}"/></a>

                        {% else %}
                            <a href="/static/media/1.jpg"><img style="height: 92px;width: 92px;border-radius: 50%;border:2px solid #b0b0b0;" src="/static/media/1.jpg"/></a>

                        {% endif %}


                        <p class="clearfix"><span class="fl">[{{ uer_obj.nickname }}]</span><span class="fr" id="show">[退出登录]</span></p>
					</h3>
					<div>
						<h4>博文管理</h4>
						<ul style="margin-top: -6px">
							<li style="margin-top: -6px " ><a href="../">我的中心</a></li>
							<li style="margin-top: -6px" class="on"><a href="#">发布文章</a></li>
							<li style="margin-top: -6px"><a href="../post_alter/">修改文章</a></li>
                            <li style="margin-top: -6px"><a href="../delete_article/">删除文章</a></li>
						</ul>
						<h4>账号管理</h4>
						<ul style="margin-top: -6px">
							<li style="margin-top: -6px"><a href="../account_information/">账号信息</a></li>
							<li style="margin-top: -6px"><a href="../change_password/">更改密码</a></li>
                            <li style="margin-top: -6px"><a href="../logout/">账号注销</a></li>
						</ul>
					</div>
				</div>
				<div class="you fl">
					<h2>发布文章</h2>
					<div class="add">
						<div>
							<a href="#" id="addxad"><img src="/static/img/jia.png"/></a>
							<span>发布文章</span>
						</div>

					</div>		
				</div>
			</div>
		</div>
		<!--编辑弹框-->
		<!--遮罩-->
		<div class="mask"></div>
		<div class="adddz" style="width: 700px;top: 26%">
			<form action="" method="post" enctype="multipart/form-data">
				<input type="text" placeholder="标题" class="on" name="title"/>
				<p >文章标题图片
                <input type="file" name="file" style="color: transparent;" >

                </p>

                {#页面富文本编辑器#}
                <div class="am-form-group" >
                    <script name="data"  id="edi" type="text/plain" style="width:700px;height:500px;"></script>
                    </script>
                </div>

                <div class="city" style="margin-top: 13px">
                    <span style="float: left ;margin-top: 13px" >标签：</span>
                    <select  multiple="multiple" id="tags" name="tags" >

                        {% for foo in tag %}
                        <option  value="{{ foo }}">{{ foo }}</option>
                        {% endfor %}

					</select>

                    <a href="../../../tags" target="_blank" style="float: right ;margin-right: 100px; margin-top: 13px;color: #A10000">都不是去新增</a>

                    <input type="text" id="t"  name="t" value="" style="display: none">

                    <br>

                        类型 :
                        <select name="classification" >
						<option value="网站前端">网站前端</option>
						<option value="后端技术">后端技术</option>
						<option value="其他">其他</option>
					    </select>


				</div>

                <span style="float: left;margin-top: 10px;">来源：</span><input  name="source" style="margin-left:35px;margin-top: 0px;width: 138px" type="text" placeholder="" />
                设置为非vip文章<input name="vip" type="radio" style="width:20px;height:20px" value="0" >
                设置为vip文章<input name="vip" type="radio" style="width:20px;height:20px" value="1" >


                <div class="bc">
					<input type="submit" id="b1" value="发布" />
					<input type="button" value="取消" />
				</div>
			</form>
		</div>

		<!--返回顶部-->
		<div class="gotop">


		</div>


		<!--footer-->
		<div class="footer">
			<div class="top">

			</div>
			<p class="dibu">个人博客&copy;2019-2020<br />
			本网站所列数据，除特殊说明，所有数据均出自个人测试</p>
		</div>
		<script src="/static/js/jquery-1.12.4.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="/static/js/public.js" type="text/javascript" charset="utf-8"></script>
		<script src="/static/js/user.js" type="text/javascript" charset="utf-8"></script>

        {# 用于页面的富文本#}
        <script type="text/javascript">
             var ue = UE.getEditor('edi');
             SyntaxHighlighter.all();


        </script>



    </body>
<script >
$(function(){
    $("#b1").click(function(){

        var tags=document.getElementById("tags");
        var t=document.getElementById("t");
        var arr=new Array();
        for (var i=0;i<tags.length;i=i+1) {
            if(tags[i].selected){arr[i]=tags[i].value;}

        };
        document.getElementById("t").value=arr;


    });
})

		var box = document.getElementById("box")
		// 点击出现弹窗
		var show = document.getElementById("show")
		show.onclick = function() {
			// 删除类名 .hide  显示弹窗
			box.classList.remove("hide")

		}

		// 点击关闭
		var cancel = document.getElementById("cancel")
		cancel.onclick = function () {
			// 添加类名 .hide 关闭弹窗
			box.classList.add("hide")

			var yans =document.getElementById('yanse')
			yans.style.background="rgb(255,255,255)";
		}

		// 点击确定
		var save = document.getElementById("save")
		save.onclick = function () {
			// 这里执行你的 确定后的操作
			box.classList.add("hide")
			var yans =document.getElementById('yanse')
			yans.style.background="rgb(255,255,255)";

		}
	</script>
</html>
